.article_card {
    @include Flexible (center,center,row,wrap,10px);
    overflow: hidden;
    border: 1px solid $borderbottom_color;
    cursor: pointer;
    padding: 0 20px 10px 20px;
    transition: 0.5s ease-in-out;
    margin-top: 20px;
    &:hover {
    box-shadow: 0px 4px 16px 7px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    }
    &__head {
        &__img {
            width: 100%;
            height: 227;
            position: relative;
           
            &__body {
                position: absolute;
                top: 20px;
                left: 45px;
                .date {
                    display: inline-block;
                    background-color: $white_color;
                    color: $black_color;
                    font-size: 24px;
                    max-width: 60px;
                    padding: 3px 4px;
                    text-align: center;
                    span {
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
            .article_card_button {
                position: absolute;
                bottom: -25px;
                left: 85px;
                right: 0;
                .green {
                    @extend %Green_button;
                }
            }
        }
    } 
&__footer {
    text-align: center;
    line-height: 30px;
    h1 {
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        line-height: 40px;
    }
    p {
        font-size: 14px;
        color: $grey_color;
    }

    a{
        text-decoration: none;
        color: $green_color;
        font-weight: 600;
        font-size: 14px;
    }
}
}