html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.logo_img img {
  width: 100%;
  height: 100%;
}

.bottompromo_banner .transparent, .upperpromo_banner .transparent, .right_bottom .bottom_banner .transparent, .right_upper .upper_banner .transparent, .left_upper .transparent {
  padding: 8px 14px;
  font-size: 12px;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  line-height: 70px;
}

.bottompromo_banner .transparent:hover, .upperpromo_banner .transparent:hover, .right_bottom .bottom_banner .transparent:hover, .right_upper .upper_banner .transparent:hover, .left_upper .transparent:hover {
  border: 1px solid #fff;
}

.promo_banner .green, .article_card__head__img .article_card_button .green, .wide_banner .banner .content_text .buy .green, .product_banner .banner .green, .right_upper .upper_banner .green, .left_bottom .bottom_banner a {
  padding: 8px 14px;
  font-size: 12px;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  line-height: 70px;
  background-color: #558063;
}

.promo_banner .green:hover, .wide_banner .banner .content_text .buy .green:hover, .product_banner .banner .green:hover, .right_upper .upper_banner .green:hover, .left_bottom .bottom_banner a:hover {
  background-color: #486d54;
}

#header {
  font-family: "Poppins", sans-serif;
}
#header .header_up {
  background-color: rgb(247, 247, 247);
  padding: 30px 0;
}

.logo_img {
  max-width: 245px;
  width: 100%;
  height: 100%;
}
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
.searchbar__products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  padding: 0 233px 0 15px;
}
.searchbar .select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}

.header_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  margin: 0 auto;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}
.left__icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}
.left__icon i {
  font-size: 35px;
  color: #a5a5a5;
}
.left .right_side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: 40px;
}
.left .right_side span {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #558063;
}
.left .right_side p {
  font-size: 13px;
  color: #a5a5a5;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}
.right .left_icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  padding-left: 3px;
}
.right .left_icon i {
  font-size: 35px;
  color: #a5a5a5;
}
.right__side {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  border-left: 1px solid #a5a5a5;
  height: 40px;
}
.right__side span {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #558063;
  padding-left: 10px;
}
.right__side p {
  font-size: 13px;
  color: #a5a5a5;
  padding-left: 10px;
}

.header_bottom {
  border-bottom: 1px solid rgb(230, 230, 230);
  height: 48px;
}

.browse {
  background-color: #558063;
  width: 270px;
  height: 48px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
}
.browse i {
  font-size: 20px;
}
.browse span {
  text-transform: uppercase;
  font-size: 15px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 15px 0;
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
}
.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  font-size: 13px;
  color: #333333;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}
.menu li:hover {
  color: #558063;
}
.menu li i {
  color: #a5a5a5;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  line-height: 47px;
}
.actions a {
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.actions a:hover {
  color: #a5a5a5;
}
.actions i {
  font-size: 19px;
  cursor: pointer;
  line-height: 47px;
  padding: 0 4px;
}
.actions i:hover {
  color: #a5a5a5;
}
.actions .wishlist {
  position: relative;
}
.actions .wishlist::before {
  position: absolute;
  content: "";
  height: 18px;
  border-right: 1px solid #a5a5a5;
  top: 15px;
  left: -3px;
}
.actions .wishlist span {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #558063;
  border-radius: 100%;
  top: 12px;
  left: 15px;
  font-size: 8px;
}
.actions .compare {
  position: relative;
}
.actions .compare::before {
  position: absolute;
  content: "";
  height: 18px;
  border-right: 1px solid #a5a5a5;
  top: 15px;
  left: -3px;
}
.actions .compare span {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #558063;
  border-radius: 100%;
  top: 12px;
  left: 15px;
  font-size: 8px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
}
.icon .left img {
  width: 40px;
  height: 60px;
}
.icon .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 10px;
}
.icon .right span {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
}
.icon .right p {
  font-size: 14px;
  color: #a5a5a5;
  text-transform: capitalize;
  text-align: center;
}

.left_upper {
  height: 50%;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}
.left_upper .upper_banner {
  background-image: url(https://woodmart.b-cdn.net/wp-content/uploads/2019/05/retail-grid-banner-1.jpg.webp);
  width: 100%;
  height: 100%;
  text-align: start;
  padding: 80px 0 0 30px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}
.left_upper .upper_banner:hover {
  transform: scale(1.03);
}
.left_upper .upper_banner h4 {
  line-height: 23px;
  font-size: 13px;
  color: #a5a5a5;
  text-transform: uppercase;
}
.left_upper h1 {
  line-height: 40px;
  font-size: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}
.left_bottom {
  height: 50%;
  font-family: "Poppins", sans-serif;
}
.left_bottom .bottom_banner {
  background-image: url(https://woodmart.b-cdn.net/wp-content/uploads/2019/05/retail-grid-banner-2.jpg.webp);
  width: 100%;
  height: 100%;
  text-align: start;
  padding: 80px 0 0 30px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}
.left_bottom .bottom_banner:hover {
  transform: scale(1.03);
}
.left_bottom .bottom_banner h4 {
  line-height: 23px;
  font-size: 13px;
  color: #a5a5a5;
  text-transform: uppercase;
}
.left_bottom .bottom_banner h1 {
  line-height: 40px;
  font-size: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}
.right_upper {
  height: 60%;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.right_upper .upper_banner {
  background-image: url(https://woodmart.b-cdn.net/wp-content/uploads/2019/04/retail-grid-slider-1-1.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  text-align: start;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 80px 0 0 30px;
}
.right_upper .upper_banner:hover {
  transform: scale(1.03);
}
.right_upper .upper_banner h4 {
  line-height: 23px;
  font-size: 13px;
  color: #a5a5a5;
  text-transform: uppercase;
}
.right_upper .upper_banner h1 {
  line-height: 40px;
  font-size: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}
.right_bottom {
  height: 45%;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.right_bottom .bottom_banner {
  background-image: url(https://woodmart.b-cdn.net/wp-content/uploads/2019/05/retail-grid-banner-3-opt.jpg.webp);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  text-align: start;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  padding: 80px 0 0 30px;
}
.right_bottom .bottom_banner:hover {
  transform: scale(1.03);
}
.right_bottom .bottom_banner h4 {
  line-height: 23px;
  font-size: 13px;
  color: #a5a5a5;
  text-transform: uppercase;
}
.right_bottom .bottom_banner h1 {
  line-height: 40px;
  font-size: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}
.upperpromo_banner {
  margin-top: 80px;
  background-image: url(https://woodmart.b-cdn.net/wp-content/uploads/2019/05/retail-banner-4-opt-315x400.jpg);
  width: 315px;
  height: 400px;
  font-family: "Poppins", sans-serif;
  text-align: start;
  padding: 30px 0 0 30px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}
.upperpromo_banner:hover {
  transform: scale(1.03);
}
.upperpromo_banner h4 {
  line-height: 23px;
  font-size: 13px;
  color: #a5a5a5;
  text-transform: uppercase;
}
.upperpromo_banner h1 {
  line-height: 36px;
  font-size: 26px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}
.bottompromo_banner {
  margin-top: 20px;
  background-image: url(https://woodmart.b-cdn.net/wp-content/uploads/2019/05/retail-banner-5-opt-315x400.jpg);
  width: 315px;
  height: 400px;
  font-family: "Poppins", sans-serif;
  text-align: start;
  padding: 30px 0 0 30px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}
.bottompromo_banner:hover {
  transform: scale(1.03);
}
.bottompromo_banner h4 {
  line-height: 23px;
  font-size: 13px;
  color: #a5a5a5;
  text-transform: uppercase;
}
.bottompromo_banner h1 {
  line-height: 36px;
  font-size: 26px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}
.products_tabs {
  font-family: "Poppins", sans-serif;
  margin-top: 75px;
}
.products_tabs .header {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.products_tabs .header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  border-bottom: 1px solid #558063;
  margin-right: 20px;
}
.products_tabs .header .title h3 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}
.products_tabs .header .tabs {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
.products_tabs .header .tabs ul {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
.products_tabs .header .tabs ul li {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  cursor: pointer;
}
.products_tabs .header .tabs ul li:hover {
  color: #558063;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.product__head {
  position: relative;
}
.product__head .new {
  position: absolute;
  background-color: #558063;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: 18px 8px;
  font-size: 14px;
}
.product__head .product__head__img {
  overflow: hidden;
}
.product__head .product__head__img img {
  width: 231px;
  height: 292px;
}
.product__head .product__head__img__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border-radius: 1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;
  bottom: 4px;
  left: -1px;
  right: 0;
  opacity: 0;
}
.product__head .product__head__img__body:hover {
  opacity: 1;
}
.product__head .product__head__img__body ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  color: #767676;
  font-size: 24px;
}
.product__head .product__head__img__body ul li:hover {
  color: #a5a5a5;
}
.product .product__head__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
}
.product .product__head__text h6 {
  font-size: 14px;
  text-transform: capitalize;
  color: #242424;
  font-weight: 600;
}
.product .product__head__text p {
  font-size: 13px;
  text-transform: capitalize;
  color: #a5a5a5;
}
.product .product__head__text span {
  font-size: 14px;
  color: #558063;
  font-weight: 600;
}
.product .product__head__text .sale {
  font-size: 12px;
}

.product_banner {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 60px;
}
.product_banner .banner {
  background-image: url(https://woodmart.b-cdn.net/wp-content/uploads/2019/05/retail-banner-6-opt.jpg.webp);
  width: 457px;
  height: 420px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: start;
  padding: 106px 0 0 30px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.product_banner .banner:hover {
  transform: scale(1.03);
}
.product_banner .banner h4 {
  line-height: 23px;
  font-size: 13px;
  color: #a5a5a5;
  text-transform: uppercase;
}
.product_banner .banner h1 {
  line-height: 40px;
  font-size: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}
.wide_banner {
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
}
.wide_banner .banner {
  background-image: url(https://woodmart.b-cdn.net/wp-content/uploads/2019/05/retail-banner-bicycle-bg-opt.jpg?id=27500) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-right: 0px !important;
  margin-bottom: 120px !important;
  margin-left: 0px !important;
  padding-top: 40px !important;
  padding-right: 5% !important;
  padding-left: 5% !important;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
.wide_banner .banner .content_text {
  padding-left: 20px;
}
.wide_banner .banner .content_text h4 {
  line-height: 23px;
  font-size: 13px;
  color: #a5a5a5;
  text-transform: uppercase;
}
.wide_banner .banner .content_text h1 {
  line-height: 64px;
  font-size: 54px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
}
.wide_banner .banner .content_text p {
  line-height: 26px;
  font-size: 16px;
  color: #a5a5a5;
}
.wide_banner .banner .content_text .buy {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}
.wide_banner .banner .content_text .buy .green {
  font-size: 15px;
  line-height: 29px;
}
.wide_banner .banner .content_text .buy span {
  font-size: 48px;
  color: #fff;
}
.wide_banner .banner .bicycle {
  padding-top: 80px;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  font-family: "Poppins", sans-serif;
}
.article__content {
  text-align: center;
}
.article__content h4 {
  line-height: 23px;
  font-size: 13px;
  color: #a5a5a5;
  text-transform: uppercase;
}
.article__content h1 {
  line-height: 40px;
  font-size: 30px;
  text-transform: capitalize;
  color: #333333;
  font-weight: 600;
}
.article__content p {
  line-height: 26px;
  font-size: 14px;
  color: #a5a5a5;
}

.article_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
  border: 1px solid rgb(230, 230, 230);
  cursor: pointer;
  padding: 0 20px 10px 20px;
  transition: 0.5s ease-in-out;
  margin-top: 20px;
}
.article_card:hover {
  box-shadow: 0px 4px 16px 7px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}
.article_card__head__img {
  width: 100%;
  height: 227;
  position: relative;
}
.article_card__head__img__body {
  position: absolute;
  top: 20px;
  left: 45px;
}
.article_card__head__img__body .date {
  display: inline-block;
  background-color: #fff;
  color: #333333;
  font-size: 24px;
  max-width: 60px;
  padding: 3px 4px;
  text-align: center;
}
.article_card__head__img__body .date span {
  font-size: 12px;
  font-weight: 500;
}
.article_card__head__img .article_card_button {
  position: absolute;
  bottom: -25px;
  left: 85px;
  right: 0;
}
.article_card__footer {
  text-align: center;
  line-height: 30px;
}
.article_card__footer h1 {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 40px;
}
.article_card__footer p {
  font-size: 14px;
  color: #a5a5a5;
}
.article_card__footer a {
  text-decoration: none;
  color: #558063;
  font-weight: 600;
  font-size: 14px;
}

.promo_banner {
  background-image: url(https://woodmart.b-cdn.net/wp-content/uploads/2019/05/retail-banner-12-opt-1.jpg.webp);
  width: 315px;
  height: 330px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 90px 0 10px 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}
.promo_banner:hover {
  transform: scale(1.03);
}
.promo_banner h4 {
  line-height: 23px;
  font-size: 13px;
  color: #a5a5a5;
  text-transform: uppercase;
}
.promo_banner h1 {
  line-height: 40px;
  font-size: 30px;
  text-transform: capitalize;
  color: #333333;
  font-weight: 500;
}
.items_list {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  padding: 10px 0;
}
.items_list .name h4 {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
}
.items_list .item_content {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}
.items_list .item_info {
  line-height: 20px;
}
.items_list .item_info span {
  font-size: 14px;
  color: #767676;
  font-weight: 600;
  cursor: pointer;
}
.items_list .item_info span:hover {
  color: #a5a5a5;
}
.items_list .item_info p {
  font-size: 14px;
  color: #558063;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */