$green_color: #558063;
$white_color: #fff;
$black_color: #333333;
$strongblack_color: #242424;
$grey_color: #a5a5a5;
$stronggrey_color: #767676;
$facebook_color: #365493;
$twitter_color: #000000;
$pinterest_color: #cb2027;
$linkedin_color: #0274b3;
$telegram_color: #37aee2;
$bg_color: rgba(247, 247, 247, 1);
$borderbottom_color: rgba(230, 230, 230, 1);
$font_family: "Poppins", sans-serif;
